tests/minishell_tester/
minishell/minishell_tester/
out/
*.o
*.a
minishell/include/copy.h
minishell/minishell
minishell/src/checklist.txt
.vscode/
.vscode/launch.json
.vscode/settings.json
.nfs*
test*